body {
    height: 100vh;
    margin: 0;
}

#mapContainer {
    height: 100vh;
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
